<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/creditpurchase.css' %}">
    <title>Credit-Purchase || LeloFame</title>
</head>
<body>
    <div class="lend_context ">
        <div class="lend_context_top">
          <h2 class="lend_text center">LeloFame Packages</h2>
        </div>
        <span class="lend_span mb-3"></span>
        <div class="lend_main_containerr1">
          <div class="lend_row ">Coins</div>
          <div class="lend_row ">Discount</div>
          <div class="lend_row  ">Price</div>
          <div class="lend_row "> ---- </div>
        </div>
        <form action="">
            <div class="lend_main_containerr1">
                <div class="lend_row ">Coins</div>
                <div class="lend_row ">Discount</div>
                <div class="lend_row  ">Price</div>
                <div class="lend_row ">  <button class="btn" type="submit"> Sign Up</button> </div>
            </div>
    </form>
      </div>
</body>
</html>