<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.1.0.min.js" ></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
    <title>Sign-Up || LeloFame</title>
</head>

<body>
    <body>
        <script src="https://kit.fontawesome.com/ab00d86059.js" crossorigin="anonymous"></script>
       
        <img class="wave" src="{% static 'assets\img\wave.png' %}" alt="">
          <div class="container">
               <div class="img">
                <a href="../">
                    <img src="{% static 'assets\img\login-signup.svg' %}">   
                    </img>
                </a>
                </div> 
              <div class="login-container">
                <form action="signup" method="POST">
                    {% csrf_token %}
                      <img class="avatar" src="{% static 'assets\img\loginhome.svg' %}" alt="">
                      <h2>Welcome</h2>
                      <div class="input-div one">
                          <div class="i">
                              <i class="fas fa-user"></i>
                          </div>
                          <div>
                              <!-- <h5>First Name</h5> -->
                              <input class="input" placeholder="First Name" name="firstname" type="text" required>
                          </div>
                      </div>
                      <div class="input-div one">
                        <div class="i">
                            <i class="fas fa-user"></i>
                        </div>
                        <div>
                            <!-- <h5>Last Name</h5> -->
                            <input class="input" placeholder="Last Name" name="lastname" type="text" required>
                        </div>
                    </div>
                    <div class="input-div one">
                        <div class="i">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div>
                            <!-- <h5>Email Id</h5> -->
                            <input class="input" placeholder="Email Id"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Must be in the pattern of Mail." name="email" type="text" required>
                        </div>
                        
                    </div>
                    {% if ref %}
                    <div class="input-div one">
                        <div class="i">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div>
                            <!-- <h5>Email Id</h5> -->
                            <input class="input" placeholder="Refferel Id"  title="Must be in the pattern of Mail." name="refferal" value= {{ ref }} type="text">
                        </div>
                    </div>
                    {% else %}
                    <div class="input-div one">
                        <div class="i">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div>
                            <!-- <h5>Email Id</h5> -->
                            <input class="input" placeholder="Refferel Id"  title="Must be in the pattern of Mail." name="refferal" type="text" >
                        </div>
                    </div>
                    {% endif %}
                      <div class="input-div two">
                          <div class="i">
                              <i class="fas fa-lock"></i>
                          </div>
                          <div>
                              <!-- <h5>Password</h5> -->
                              <input class="input" name="password"  placeholder="Password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                              title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                          </div>
                      </div>
                      <div class="input-div two">
                        <div class="i">
                            <i class="fas fa-lock"></i>
                        </div>
                        <div>
                            <!-- <h5>Confirm Password</h5> -->
                            <input class="input" placeholder="Confirm Password"  type="password" name='confirmpassword' required>
                        </div>
                    </div>
                    <a href="login">Already Have a Account</a>
                    {% if p %}
                    <div class="alert alert-primary" role="alert">
                       {{p}}
                      </div>
                      {% endif %}
                      <button class="btn" type="submit"> Sign Up</button>
                  </form>
              </div>
          </div>
          <script type="text/javascript" src="js/main.js"></script>
      </body>

</html>