
/* form{
    align-items: center;
    justify-content: center;


} */
input[type=file]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: #311b92;
  color:white;
  transition: 1s;
}
input[type=file]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
  color:black;
}
#credit  button{
	font-size: 18px;
	font-family:'Open Sans';
    color: white;
    border: none;
    background-color: transparent;
    text-decoration: none;

}

#credit  input:focus,#credit textarea:focus,#credit select:focus{
  border:1px solid #fafafa;
  -webkit-box-shadow:0 0 6px #007eff;
  -moz-box-shadow:0 0 5px #007eff;
  box-shadow:0 0 5px #007eff;
  outline: none;
}

#credit  sup{

	font-size: 40px;
}



#credit  #container{
	width: 100%;
  text-align:center;
  display: flex;
  margin: auto ;
  justify-content: center;
}
#credit  .whole{
    margin: auto;
}

@media (max-width: 1000px) {
  #credit  #container{
    flex-direction: column;
  }
}

#credit  .type{
	width: 300px;
	border-radius: 5px 5px 0px 0px;
	background-color: #eac80d;
	height: 62px;
	border-bottom: 3px solid #bfa30c;

}

#credit  .type p{
	font-family:'Open Sans';
    font-weight: 800;
	font-size: 29px;
	text-transform: uppercase;
	color: white;
	text-align: center;
    margin: auto;
	padding-top: 10px;

	

}

#credit  .plan{
	width: 300px;
	background-color: #2b2937;

	border-radius: 0px 0px 5px 5px;
    font-family:'Open Sans';
    font-style:condensed;
    font-size: 90px;
    color: white;
    text-align: center;


}
#credit  .standard{
	background-color: #1abc9c;
	border-bottom: 3px solid #18937b;
}

#credit  .ultimate{
	background-color: #5d6a9a;
	border-bottom: 3px solid #474f6f;
}






#credit  .header{
	border-bottom: 1px solid #494a5a;
	padding-bottom: 39px;


}


#credit  .header span{
	font-size: 32px;

	
}


#credit  .month{
	font-size: 25px;
	color: #4d6d6d;
	padding: 0px;
	margin: -10px;
}


#credit  button{
    height:80px;
  color:white;
  position: relative;
  width: 100%;
  cursor: pointer;
}

#credit  button:hover{
   background-color: #4FD8FE; 
}


.top{
  margin-top:35px;
}

.nodisplay{
  opacity: 0.1;
}

.selected{
  background-color:#1F1B36;
  margin:0px;
  padding:0px;
}





@media (max-device-width: 700px) {
  #container{
    flex-direction: column;
  }
 
#credit  .type{
    width: 300px;
    border-radius: 5px 5px 0px 0px;
    background-color: #eac80d;
    height: 62px;
    border-bottom: 3px solid #bfa30c;
  
  }
  
 
#credit  .type p{
    font-family:'Open Sans';
      font-weight: 800;
    font-size: 29px;
    text-transform: uppercase;
    color: white;
    text-align: center;
      margin: auto;
    padding-top: 10px;
  
    
  
  }
  
 
#credit  .plan{
    width: 300px;
    background-color: #2b2937;
  
    border-radius: 0px 0px 5px 5px;
      font-family:'Open Sans';
      font-style:condensed;
      font-size: 90px;
      color: white;
      text-align: center;
  
  
  }
 
#credit  .standard{
    background-color: #1abc9c;
    border-bottom: 3px solid #18937b;
  }
  
 
#credit  .ultimate{
    background-color: #5d6a9a;
    border-bottom: 3px solid #474f6f;
  }
  
  
  
  
  
 
#credit  .header{
    border-bottom: 1px solid #494a5a;
    padding-bottom: 39px;
  
  
  }
  
 
#credit  .header span{
    font-size: 32px;
  }
#credit input{
  height:0px;
}  
 
#credit  .month{
    font-size: 25px;
    color: #4d6d6d;
    padding: 0px;
    margin: -10px;
  }
  
  button{
      height:80px;
    color:white;
    position: relative;
    width: 100%;
    cursor: pointer;
  }
  button:hover{
     background-color: #4FD8FE; 
  }
}